
* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
}
body {
    padding: 30px;
}
h1 {
    font-size: 175%;
    text-align: center;
}
h2 {
    font-size: 125%;
    margin: auto;
    text-align: center;
}
.mobile-only {
    display: block
}
.non-mobile {
    display: none;
}
.item-box {
    margin: 20px;
    border: 1px solid black;
    background-color: #ABABAB;
    height: 250px;
    overflow: hidden;    
    position: relative;
}
.item-box:hover {
    overflow-y: scroll;
    cursor: n-resize;
}
.item-title {
    box-sizing: content-box; /*I needed to do this for the border alignment*/
    width: 100%;
    float: right; /*This worked for me, but positioning did not with the longer mobile text*/
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.item-text {
    margin: 10px;
    float: right; /*This worked for me, but positioning did not with the longer mobile text*/
}
.red {
    background-color: #E8AAAA;
}
.green {
    background-color: #81BD8C;
}
.blue {
    background-color: #80A5C7;
}
/* Responsive Framework from Lecture 24 */
.row {
    width: 100%;
}

/********** Large Devices **********/
@media (min-width: 992px) {
    .mobile-only {
        display: none;
    }
    .non-mobile {
        display: block;
    }
    .item-title {
        width: 130px;
    }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

/********** Medium Devices **********/
@media (min-width: 768px) and (max-width: 991px) {
    .mobile-only {
        display: none;
    }
    .non-mobile {
        display: block;
    }
    .item-title {
        width: 130px;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}