<div class="user-info">
  <div ng-if="userInfoCtrl.user != null">
    <h2>View the information from your signup below: </h2>
    {{ userInfoCtrl.user.firstname }} {{ userInfoCtrl.user.lastname }} <br>
    {{ userInfoCtrl.user.email }} <br>
    {{ userInfoCtrl.user.phone }} <br>
    <h3>Your favorite item: </h3>
    {{ userInfoCtrl.user.favoriteItem.name }}: {{ userInfoCtrl.user.favoriteItem.description }}
    <img class="img-responsive" width="250" height="150" ng-src="images/menu/{{userInfoCtrl.favoriteCategoryShortName}}/{{userInfoCtrl.user.favoriteItem.short_name}}.jpg" alt="{{userInfoCtrl.user.favoriteItem.name}}">
  </div>
  <div ng-if="userInfoCtrl.user == null">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
  </div>
</div>
